<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= node["fqdn"] %></title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="robots" content="noindex, nofollow">
    
    <style>
      html {
        font-size: 20px;
        line-height: 1.4;
        color: #737373;
        background: #f0f0f0;
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      }

      body {
        padding: 0;
        margin: 0;
      }

      .wrap {
        padding: 25px;
        margin: 50px auto;
        width: 560px;
        max-width: 560px;
      }

      .main {
        border: 1px solid #b3b3b3;
        border-radius: 5px;
        box-shadow: 0 1px 10px #a7a7a7, inset 0 1px 0 #fff;
        background: #fcfcfc;
        text-align: center;
        margin: 0;
        padding: 20px 25px;
      }

      a {
        color: #bbb;
      }
      
      h1 {
        margin: 0 10px;
        font-size: 40px;
        text-align: center;
      }

      h1 span {
        color: #bbb;
      }
  
      p {
        margin: 1em 0;
      }

      p span {
        color: #AAA;
        font-size: 16px;
        font-style: italic;
      }
    </style>
  </head>
  <body>
    <div class="wrap">
      <div class="main">
        <h1>
          I'm sorry <span>:(</span>
        </h1>

        <p>
          The domain you are looking for doesn't exist.<br />
          <span>That's all we know.</span>
        </p>
      </div>
    </div>
  </body>
</html>
